<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LineNO" value="" />
    <add key="PROCESS_NO" value="" />
    <add key="WeightCom" value="COM9" />
    <add key="TemperatureCom" value="COM2" />
    <add key="TotalPass" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>