<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="aps" providerName="MySql" connectionString="server=112.74.52.188;user id=root;Password=shuben173;database=kalerm-app-aps;SSlMode=None;PORT=7002;charset=utf8;"/>
    <add name="mes" providerName="MySql" connectionString="server=112.74.52.188;user id=root;Password=shuben173;database=kalerm-app-mes;SSlMode=None;PORT=7002;charset=utf8;"/>
    <add name="model" providerName="MySql" connectionString="server=112.74.52.188;user id=root;Password=shuben173;database=kalerm-base-model;SSlMode=None;PORT=7002;charset=utf8;"/>
    <add name="business" providerName="MySql" connectionString="server=112.74.52.188;user id=root;Password=shuben173;database=kalerm-base-business;SSlMode=None;PORT=7002;charset=utf8;"/>
  </connectionStrings>
  <appSettings>
    <add key="WorkSheetNo" value=""/>
    <add key="WorkUnitId" value=""/>
    <add key="WeightCom" value="COM9"/>
    <add key="TemperatureCom" value="COM2"/>
    <add key="TotalPass" value="0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="bladeAuthServer" value="http://dev.ileanc.stdlean.com/api/"/>
    <add key="bladeAuthCode" value="c2FiZXI6c2FiZXJfc2VjcmV0"/>
    <add key="TenantId" value="025997"/>
    <add key="UserCode" value=""/>
    <add key="PassWord" value=""/>
    <add key="txtSWZ_071" value=""/>
    <add key="txtSWZ_03" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-19.0.40.49152" newVersion="19.0.40.49152"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySqlConnector" publicKeyToken="d33d3e53aa5f8c92" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
